header {
  font-family: 'Lobster Two';
  font-size: 7rem;
  padding: 20px;
  color: black;
  text-shadow: 1px 1px rgb(64, 255, 105);
  
}

body {
  text-align: center;
  font-family: 'Montserrat';
}

li {
  list-style-type: none;
  padding: 4px;
  font-family: 'Montserrat';
}

#style {
  color: lightgray;
  font-style: italic;
}

.jumbotron {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 15px;
  top: 0;
  width: 100%;
  z-index: 2;
}

.buttonText {
  font-family: 'Montserrat';
  max-width: 20% !important;
}

.History {
  color: #212121;
  font-family: 'Montserrat';
  font-size: 125%;
  max-width: 45% !important;
  text-shadow: none;
}

.eventInfo {
  padding: 50px;
  border-radius: 50px;
  background-color: rgb(38, 149, 218);
}

.headliner {
  background: linear-gradient(
    to right,
    #eeff41,
    white,
    #eeff41
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Lobster Two';
  font-size: 3rem;
}

.venueName {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 150%;
  color: white;
}

.price {
  font-family: 'Montserrat';
  font-size: 115%;
  color: white;
}

.artistInfoResults0,
.artistInfoResults1,
.artistInfoResults2,
.artistInfoResults3,
.artistInfoResults4,
.venue {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: white;
}

li:checked + p {
  -webkit-line-clamp: unset;
}

.btn-large {
  margin-top: 10px;
  color: white;
}


@media (min-width: 0px) and (max-width: 800px) {
  header,
  .jumbotron {
    font-size: 125%;
    padding: 1px;
  }
  .searchResults {
    margin-top: 1%;
  }
  .headliner {
      font-size: 125%;
  }
  .eventInfo,
  .venueName,
  .buttonText {
    font-size: 100%;
    padding: 1px;
  }
  li {
    font-size: 14px;
  }
  .eventInfo {
    margin-left: 15%;
  }
  .price,
  .btn-large {
    font-size: 100%;
    padding: 3px;
  }
  .artistInfoResults0,
  .artistInfoResults1,
  .artistInfoResults2,
  .artistInfoResults3,
  .artistInfoResults4 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
  }
}

@media (min-width: 800px) and (max-width: 1024px) {
  header,
  .jumbotron {
    font-size: 125%;
    padding: 1px;
  }
  .searchResults {
    margin-top: 1%;
  }
  .headliner {
    font-size: 125%;
}
  .eventInfo,
  .venueName,
  .buttonText {
    font-size: 100%;
    padding: 1px;
  }
  li {
    font-size: 14px;
  }
  .eventInfo {
    margin-left: 20%;
  }
  .price,
  .btn-large {
    font-size: 100%;
    padding: 3px;
  }
  .artistInfoResults0,
  .artistInfoResults1,
  .artistInfoResults2,
  .artistInfoResults3,
  .artistInfoResults4 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
  }
}

#style {
  position: absolute;
  margin-top: 120px;
  margin-left: 1px;
  font-size: 25px;
}
