header {
    font-family: Monoton;
    font-size: 400%;
    padding: 20px;
    color: lightgreen;
    text-shadow: 1px 1px yellow;
}

body {
    text-align: center;
    font-family: "Roboto Condensed";
    color: white;
}

li {
    list-style-type: none;
    padding: 4px;
}

.jumbotron {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.buttonText {
    color: cyan;
    font-family: Bebas Neue;
    font-size: 125%;
}

.searchResults {
    padding-top: 30%;
}

.eventInfo {
    padding: 30px;
    background-color: rgba(21, 21, 21, 0.9);
}

.headliner {
    background: linear-gradient( to right, #ff3d00, #eeff41, lightgreen, #eeff41, #ff3d00);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Crushed;
    font-size: 250%;
}

.venueName {
    font-family: Bebas Neue;
    font-size: 150%;
}

.price {
    font-family: Bebas Neue;
    font-size: 125%;
}

.btn-large {
    font-weight: bolder;
    margin-top: 10px;
    color: white;
}